# azure-pipelines.yml

trigger:
- main

variables:
- group: Pipeline

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  displayName: 'Send POST Request with Invoke-RestMethod'
  inputs:
    targetType: 'inline'
    script: |
      # Define owner, repo, and token
      $owner = "Sri5275"
      $repo = "PBL"
      $token = "$(GitHubPAT)"

      # Define data to be sent
      $postData = @{
          owner = $owner
          repo = $repo
          token = $token
      }

      # Convert data to JSON
      $jsonBody = $postData | ConvertTo-Json

      # Set API endpoint
      $apiEndpoint = "https://codeanalysis.azurewebsites.net/CodeAnalysis/PerformStaticCodeAnalysis"

      try {
          # Make HTTP POST request
          Invoke-RestMethod -Uri $apiEndpoint -Method Post -Body $jsonBody -ContentType "application/json"
      } catch {
          Write-Host "Error occurred: $_"
          exit 1
      }
