# azure-pipelines.yml

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
- group: Pipeline

steps:
- task: PowerShell@2
  displayName: 'Send POST Request with curl'
  inputs:
    targetType: 'inline'
    script: |
      # Define owner, repo, and token
      $owner = "Sri5275"
      $repo = "PBL"
      $token = "$(GitHubPAT)"

      # Define data to be sent
      $postData = @{
          owner = $owner
          repo = $repo
          token = $token
      } | ConvertTo-Json

      # Set the curl command
      $curlCommand = "curl -X POST -H 'Content-Type: application/json' -d '$postData' https://codeanalysis.azurewebsites.net/CodeAnalysis/PerformStaticCodeAnalysis"

      # Execute the curl command
      Invoke-Expression -Command $curlCommand
