trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: Pipeline
- name: GITHUB_API_URL
  value: 'https://api.github.com/user'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Retrieve variables
      $pat = "$(GitHubPAT)"

      # Set the headers for the API request
      $headers = @{
        'Authorization' = "Bearer $pat"
      }

      # Make the GET request to the GitHub API to retrieve user information
      $response = Invoke-RestMethod -Uri $(GITHUB_API_URL) -Method Get -Headers $headers

      # Extract username and email from the GitHub response if available
      $username = $response.login
      $email = $null
      if ($response.email) {
        $email = $response.email
      }

      # Print the retrieved details
      Write-Host "Retrieved GitHub Username: $username"
      if ($email) {
        Write-Host "Retrieved GitHub Email: $email"
      } else {
        Write-Host "GitHub Email is not publicly available because your Github profile is private."
      }
  env:
    GitHubPAT: $(GitHubPAT)
